<div class="db-admin">
   <div class="dashboard-nav">
      <div class="dashboard-nav-inner">
         <ul data-submenu-title="Principal">
            <li><a [routerLink]="['/admin/messages']"><i class="fa fa-inbox"></i> Messages <span class="nav-tag messages">2</span></a></li>
            <li><a [routerLink]="['/admin/bookings']"><i class=" fa fa-calendar"></i> Mes réservations</a></li>
         </ul>
         <ul data-submenu-title="Objets">
            <li><a [routerLink]="['/admin/list']"><i class="fa fa-calendar-check-o"></i> Mes objets</a></li>
            <li><a [routerLink]="['/admin/reviews']"><i class="fa fa-star"></i> Évaluations</a></li>
            <li><a [routerLink]="['/admin/add-list']"><i class="fa fa-calendar-plus-o"></i> Ajouter un objet</a></li>
         </ul>
         <ul data-submenu-title="Compte">
            <li><a [routerLink]="['/admin/profile']"><i class="fa fa-user"></i> Modifier le profil</a></li>
            <li><a [routerLink]="['/home']"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
         </ul>
      </div>
   </div>
</div>
<a class="db-trigger" (click)="toggleMenu()">
<i class="fa fa-reorder"></i>
</a>

