<form [formGroup]="form" (submit)="onSavePost()" ngNativeValidate>
   <div class="dashboard-content">
      <div class="row">
         <div class="col-lg-12">
            <div id="add-listing">

               <!-- Section -->
               <div class="add-listing-section mb-4 p-4">
                  <!-- Headline -->
                  <div class="add-listing-headline">
                     <h3> Informations sur l'objet</h3>
                  </div>
                  <!-- Title -->
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                           <input type="text" formControlName="product_name" placeholder="Nom du produit" class="form-control form-control-alternative" required>
                        </div>
                     </div>
                  </div>
                  <!-- Row -->
                  <div class="row">
                     <!-- Status -->
                     <div class="col-md-6">
                        <select class="custom-select form-control-alternative mb-3" formControlName="CategoryId" aria-placeholder="Category" formControlName="CategoryId" required>
                           <option class="text-muted" label="Category" [value]="null">Catégorie</option>
                           <option *ngFor="let category of productsService.getCategoriesList()" [value]="category.id">{{ category.name }}</option>
                        </select>
                     </div>
                  </div>
                  <!-- Row / End -->
               </div>
               <!-- Section / End -->
               
               <!-- Section --> 
               <div class="add-listing-section mb-4 p-4">
                  <!-- Headline  -->
                  <div class="add-listing-headline">
                     <h3> Détails</h3>
                  </div>

                  <div class="row">
                     <div class="col-md-12">                       
                        <textarea class="form-control form-control-alternative" formControlName="description" placeholder="Description"  rows="3" required></textarea>                        
                     </div>
                  </div>               
               </div>
               <!-- Section / End -->

               <!-- Section -->
               <div class="add-listing-section switcher-on mb-4 p-4">
                  <!-- Headline  -->
                  <div class="add-listing-headline mb-0">
                     <h3> Prix</h3>
                  </div>
                  <!-- Switcher ON-OFF Content -->
                  <div class="switcher-content">
                     <div class="row">
                        <div class="col-md-6">
                           <!-- <table id="pricing-list-container">
                              <tr class="pricing-list-item pattern">
                                 <td>
                                    
                                 </td>
                              </tr>
                           </table> -->

                           <div class="fm-input pricing-price mb-5">
                                 <input type="number" formControlName="price" placeholder="Prix" class="form-control form-control-alternative" required>
                           </div>

                           <div>
                              <button class="btn btn-darker" type="button" (click)="filePicker.click()">Télécharger une image</button>
                              <input type="file" #filePicker (change)="onImagePicked($event)">
                           </div>
                           <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                              <img [src]="imagePreview" [alt]="form.value.title">
                           </div>
                          
                        </div>
                     </div>
                  </div>
                  <!-- Switcher ON-OFF Content / End -->
               </div>
               <!-- Section / End -->
              
               <!-- <a href="#" class="btn btn-danger">Preview <i class="fa fa-arrow-circle-right"></i></a>-->
               
               <!-- Submit button -->
               <button class="btn btn-primary" type="submit">Ajouter objet</button>
            </div>
         </div>

         <!-- Copyrights -->
         <div class="col-lg-12">
            <div class="copyrights">© 2019 ShaRent. Tous droits réservés.</div>
         </div>
      </div>
   </div>
</form>


