<form [formGroup]="form" (submit)="onUpdateUser()" ngNativeValidate>
      <div class="dashboard-content">
            <div class="row">
               <!-- Profile -->
               <div class="col-lg-6 col-md-12">
                  <div class="dashboard-list-box mb-5">
                     <div class="dashboard-list-box-static">
                        <h4 class="mb-3">Détails du profil</h4>
                         
                         <!-- MAP -->
                         <!-- <div class="mapouter">
                             <div class="gmap_canvas">
                                 <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=1440%20rue%20stanley&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                 </iframe>
                             </div>
                             <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
                             </style>
                         </div> -->
                         <!-- FIN MAP -->
                        <!-- Avatar -->
                        <!-- Details -->
                         <br>
                        <div class="my-profile">
                           <div>
                              <div class="custom-file">
                                 <!-- <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                 <label class="custom-file-label" for="validatedCustomFile">Choississez un fichier...</label>
                                 <div class="invalid-feedback">Fichier invalide</div> -->

                                 <div>
                                    <button class="btn btn-darker" type="button" (click)="filePicker.click()">Télécharger une image</button>
                                    <input type="file" #filePicker (change)="onImagePicked($event)">
                                 </div>
                                 <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                                    <img [src]="imagePreview" [alt]="">
                                 </div>
                              </div>
                           </div>
                           <div class="mt-5">
                              <div class="form-group">
                                 <input type="text" formControlName="first_name" placeholder="Prénom" class="form-control form-control-alternative">
                              </div>
                           </div>
                           <div>
                              <div class="form-group">
                                 <input type="text" formControlName="last_name" placeholder="Nom de famille" class="form-control form-control-alternative">
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-6">
                                 <div class="form-group">
                                    <input type="number" formControlName="civicNumber" placeholder="Numéro Civic" class="form-control form-control-alternative">
                                 </div>
                              </div>
                              <div class="col-6">
                                    <div class="form-group">
                                       <input type="text" formControlName="apto" placeholder="Apartement" class="form-control form-control-alternative">
                                    </div>
                                 </div>
                           </div>
                           <div>
                              <div class="form-group">
                                 <input type="text" formControlName="streetName" placeholder="Nom de la Rue" class="form-control form-control-alternative">
                              </div>
                           </div>
                           <div>
                              <div class="form-group">
                                 <input type="text" formControlName="city" placeholder="Ville" class="form-control form-control-alternative">
                              </div>
                           </div>
                           <div>
                              <div class="form-group">
                                 <input type="text" formControlName="province" placeholder="Province" class="form-control form-control-alternative">
                              </div>
                           </div>
                           <div>
                              <div class="form-group">
                                 <input type="text" formControlName="postalCode" placeholder="Code Postale" class="form-control form-control-alternative" >
                              </div>
                           </div>
                           <div class="form-group">
                              <input type="text" formControlName="email" placeholder="Courriel" class="form-control form-control-alternative">
                           </div>
                           
                           <!-- <label>À propos</label>
                           <textarea class="form-control form-control-alternative mb-4" name="notes" id="notes" cols="30" rows="10">Décrivez-vous!</textarea> -->
                        </div>
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                     </div>
                  </div>
               </div>
               <!-- Change Password -->
               <div class="col-lg-6 col-md-12">
                  <div class="dashboard-list-box mb-5">
                     <div class="dashboard-list-box-static">
                        <h4 class="mb-3">Changer le mot de passe</h4>
                        <!-- Change Password -->
                        <div class="my-profile">
                           <div class="form-group">
                              <input type="password" placeholder="Mot de passe actuel" class="form-control form-control-alternative">
                           </div>
                           <div class="form-group">
                              <input type="password" placeholder="Nouveau mot de passe" class="form-control form-control-alternative">
                           </div>
                           <div class="form-group">
                              <input type="password" placeholder="Retappez le nouveau mot de passe" class="form-control form-control-alternative">
                           </div>
                           <button class="btn btn-primary" type="submit">Enregistrer</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Copyrights -->
               <div class="col-md-12">
                  <div class="copyrights">© 2019 ShaRent - Tous droits réservés.</div>
               </div>
            </div>
         </div>
</form>


