<div id="footer" class="sticky-footer bg-primary pt-5">
   <!-- Main -->
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-6">
            <img class="footer-logo" src="assets/images/logo-white.png" alt="">
            <br><br>
            <p class="text-white">ShaRent est une application web à but non lucratif, basée sur le partage et la confiance.</p>
            <div class="text-widget text-white">
               Adresse: <span class="text-white">3800 rue Sherbrooke Est</span> <br>
               Téléphone: <span class="text-white">(514) 254-7131 </span><br>
               Email: <span class="text-white"> <a href="#" class="text-white">cmaisonneuve.qc.ca</a> </span><br>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 ">
            <ul class="footer-links">
               <li><a class="text-white" routerLink='/session/login'>Connexion</a></li>
               <li><a class="text-white" routerLink='/session/signup'>Nouveau compte</a></li>
               <li><a class="text-white" routerLink='/pages/add-listing'>Ajouter un objet</a></li>
            </ul>
         </div>
         <div class="col-md-3  col-sm-12">
            <ul class="footer-links">
               <li><a class="text-white" routerLink='/pages/user-profile'>Profil</a></li>
            <li><a class="text-white" routerLink='/pages/about-us'>À Propos</a></li>
            </ul>
         </div>
      </div>
      <!-- Copyright -->
      <div class="row">
         <div class="col-md-12">
            <div class="copyrights text-white">© 2019 ShaRent - Tous droits réservés.</div>
         </div>
      </div>
   </div>
</div>

